/* Structure */

html {
  background: #eee;
}

body {
  padding: 0;
  background: #fff;
  color: #000;
  margin: 0 auto;
  max-width: 1050px;
  font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #021D55;
  font: 700 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #000;
}

a:active {
  position: relative;
  top: 1px;
}

img {
  display: flex;
  margin: auto;
  width: 50%;
  max-width: 100%;
  height: auto;
}

td {
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
}

header {
  background: #021D55;
  padding: .5em 3em;
  color: #147ee8;
  line-height: 1;
}

header h1 {
  margin-bottom: 0;
}

header h1 span,
header span {
  display: inline;
  color: #fff;
}

header span {
  display: block;
  font-weight: 300;
  margin-bottom: 1.6em;
}

header nav {
  float: right;
  text-align: right;
}

header nav div {
  font-size: .8em;
}

header nav div a,
header nav a {
  padding: .3em .5em;
}

header nav a {
  color: #fff;
  display: inline-block;
  padding: .3em .8em;
}

header nav a:hover,
header nav a:focus {
  color: rgba(255, 255, 255, .6);
}

#startquiz {
  font-size: 1.3em;
  padding: 0.5em 1.8em;
  border-radius: 0.2em;
}

[id="tabs"] {
  text-align: center;
  vertical-align: middle;
}

[role=main] {
  padding: 1.5em 3em;
}

article {
  padding: 1em 0;
}

footer {
  background: #021D55;
  color: #fff;
  padding: .1em 3em;
}

/* Paragraphs typography */
p {
  font: 1em/1.5 Palatino, "Palatino Linotype", Georgia, Times, "Times New Roman", serif;
}

/* Tabs */
.js-on #tabs article {
  display: none;
}

#tabs,
#tabs nav a.active {
  background: #ddd;
  color: #111;
}

#tabs nav {
  position: relative;
  overflow: hidden;
  display: table;
  background: #111;
  margin: 1em;
}

#tabs nav a {
  width: 150px;
  display: table-cell;
  padding: 1em;
  margin: 1em;
  text-align: center;
  color: #147ee8;
}

#tabs nav a:hover,
#tabs nav a:focus {
  background: #eee;
}

#tabs article {
  padding: 1em;
}

.js-on #tabs article.active {
  display: block;
}

#tabs #mobiles {
  display: none;
  border-radius: 0;
}

#tabs #mobiles a,
#tabs #mobiles a:first-child,
#tabs #mobiles a:last-child {
  width: 300px;
  border-radius: 0;
}

/* Media queries */
@media screen and (min-width: 900px) {
  body {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 600px) {
  #tabs nav {
    display: none;
    position: relative;
  }

  #tabs #mobiles {
    display: block;
  }

  #tabs article {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .center {
    min-width: 250px;
  }

  header nav {
    float: none;
    margin: -.5em -3em 0;
    background: #000;
    overflow: hidden;
    text-align: left;
  }

  header nav a {
    padding: .7em .8em;
    border-right: 1px solid #222;
  }

  [role=main] {
    padding: 1.5em 2em;
  }

  header nav div {
    display: none;
  }
}
